body{
    font-family: 'Anek Telugu', sans-serif; 
    font-size: 1em;
    background-color: #ece7e1; 
}

.nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;

}

.nav ul {
    display: flex;
    list-style-type: none;
}

.nav ul li {
    margin-left: 2px;
}

.nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1em;
}

/***HOME***/
#home{
    padding: 0;
    padding-bottom: 60%;
    margin: 0;
    margin-left: 5%;
    max-width: 1200px;
    color: #312a2a;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.full-width{
    width: 100%;
}

.short-intro{
    margin-top: 30%;
}

#home .intro-text ul{
    list-style-type: none;
    padding-left: 0;
}

#home .intro-text li{
    line-height: 500%;
}

#home .intro-text ul li a{
    text-decoration: none;
    color: #000;
    font-family: 'Philosopher', sans-serif;
    font-size: 650%;
}

#home .intro-text ul li a:hover{
    text-decoration: none;
    color: #000;
    font-family: 'Philosopher', sans-serif;
    font-size: 650%;
    font-style: italic;
}

#home .intro-text ul li a.iam, #home .intro-text ul li a.maria{
    color: #6f1d1b;
}

/***ABOUT***/
#about{
    padding: 0;
    margin: 0;
    margin-left: 5%;
    max-width: 1200px;
    color: #312a2a;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.bio-image img{
    width: 50%;
}

.experience a, .mycv a{
    text-decoration: none;
    color: #000;
    border: 1px solid;
    padding: 5px;
    box-shadow: 5px 3px 1px #888888;    
}

header{
    display: flex;
    justify-content: end;
}

header{
    margin-right: 5%;
}

header .nav a{
    text-transform: uppercase;
    text-decoration: none;
    color: #312a2a;
    font-weight:bold;
}

header .nav a:hover{
    text-transform: uppercase;
    text-decoration: none;
    color: #ece7e1;
    border-radius: 2px;
    background: #312a2a;
    padding: 2px 2px 0 2px;
}

h1{
    font-family: 'Philosopher', sans-serif;
    font-size: 400%;
}

h1 {
    line-height: 100%;
}

.motto{
    font-family: 'Ysabeau', sans-serif;
    font-size: 150%;
    padding: 0;
    text-align: center;
}

.about-img{
    text-align: center;
}

.about-img img{
    border-radius: 5px;
    background: #fff;
    padding: 3px;
}

/***SKILSS***/
#skills{
    padding: 0;
    margin: 0;
    margin-left: 5%;
    max-width: 1200px;
    color: #312a2a;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#skills ul{
    list-style-type: none;
}

.skill-title{
    font-weight: bold;
}



/***CONTACT***/
#contact{
    padding: 0;
    margin: 0;
    margin-left: 5%;
    max-width: 1200px;
    color: #312a2a;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contact-info{
    display: flex;
    justify-content: flex-start;
}

.contact-info a{
    text-decoration: none;
    color: #312a2a;
    padding-left: 20px;
}

.contact-info a:hover{
    text-decoration: none;
    color: #4d6a6d;
}

/***PROJECTS***/
#portfolio{
    padding: 0;
    margin: 0;
    margin-left: 5%;
    max-width: 1200px;
    color: #312a2a;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.projects{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.project{
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    flex-basis: 50%;
    padding: 10px;
}

.project img{
    width: 95%;
    border: #84a59d solid 7px;
}

.project img:hover{
    width: 95%;
    border: #d8e2dc solid 7px;
}

.project ul{
    padding-left: 0;
}

.projects ul li{
    list-style: none;
    padding-left: 0;
}

h2{
    font-family: 'Ysabeau', sans-serif;
}

.copyright{
    margin-top: 100%;
    font-family: 'Ysabeau', sans-serif;
    margin-right: 5%;
    display: flex;
    justify-content:center;
    align-items:flex-end;
}

footer{
    display: flex;
    justify-content:end;
}


@media screen and (min-width:760px){
    .nav ul li {
        margin-left: 10px;
    }

    .short-intro{
        margin-top: 0;
    }

    .projects{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: row;
    }

    .copyright{
        margin-top: 60%;
    }
}

@media screen and (min-width:1000px) {
    /***HOME***/

    #home{
        padding-bottom: 10%;
    }

    .short-intro{
        margin-top: 0;
    }

    .content{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
        margin-top: 10%;
    }

    .short-intro{
        margin-bottom: 10%;
        width: 20%;
    }

    /***ABOUT***/
    .intro-about{
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .motto{
        width: 100%;
        padding-top: 5%;
    }

    .about-img{
        width: 100%;
    }

    .projects{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: row;
    }

    .copyright{
        margin-top: 25%;
    }
}
